<body  style="background: #adb5bd">

    <!---- Welcome - image section -->    
     <div style="display: flex; flex-direction: row; justify-content: space-around ;align-items: center ; flex-wrap: wrap;"  >
      

        <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100" style="text-align: center;">
          <h2 id="Welcome">WELCOME TO Pharmacy</h2>
          <h2 id="Store">SEES</h2>
          <p id="Iam">I am talented designer making websites</p>
          <p id="Bootstrap"> with Bootstrap and Angular 18</p>
        </div><!-- End Welcome -->

        <div>  
            <img src="assets/frontpage/pharmacy-image02.jpg" alt="Pharmacy" data-aos="fade-in" class="img-fluid rounded-5" style="height: 35em; width: 40em;margin-top: 2em; margin-right: 2em; margin-left: 2em; margin-bottom: 2em;">
          </div>
    </div>
    <!---- End Welcome - image section --> 
