.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spinner-border {
    width: 3rem;
    height: 3rem;
    border: 0.25rem solid #007bff;
    /* Color del spinner */
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border 0.75s linear infinite;
  }
  @keyframes spinner-border {
    to {
      transform: rotate(360deg);
    }
  }
  